<div id="<%= dom_id appointment %>">
  <p>
    <strong>Full name:</strong>
    <%= appointment.customer.first_name %>
  </p>

  <p>
    <strong>Animal Name:</strong>
    <%= appointment.appointment_name %>
  </p>

  <p>
    <strong>Appointment Time:</strong>
    <%= appointment.appointment_time %>
  </p>

</div>