<div id="<%= dom_id appointment %>">
  <p>
    <strong>Full name:</strong>
    <%= appointment.customer.name %>
  </p>

  <p>
    <strong>Animal Name:</strong>
    <%= appointment.animal.name %>
  </p>

  <p>
    <strong>Appointment Time:</strong>
    <%= appointment.scheduled_at %>
  </p>

</div>