<%= render @appointment %>

<div>
  <%= link_to 'Edit', edit_customer_appointment_path(@appointment.customer_id, @appointment), data: { turbo: false }, class: 'btn btn-primary' %> |
  <%= link_to "Back to appointments", customer_appointments_path(@appointment.customer) %>

  <%= button_to 'Delete', customer_appointment_path(@appointment.customer_id,@appointment), method: :delete, data: { turbo: false, confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
